In [1]:
import pandas as pd
import numpy as np
%matplotlib inline
from matplotlib import pyplot as pyplot
import matplotlib
matplotlib.rcParams["figure.figsize"]=(20,10)

# **Importing Dataset to dataframe**

In [2]:
df=pd.read_csv('bengaluru_house_prices.csv')
df.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00

In [3]:
df.shape

(13320, 9)

In [4]:
df.isna().sum()

area_type          0
availability       0
location           1
size              16
society         5502
total_sqft         0
bath              73
balcony          609
price              0
dtype: int64

In [5]:
df=df.drop(columns=['area_type','availability','society','balcony'])

In [6]:
df

                       location       size total_sqft  bath   price
0      Electronic City Phase II      2 BHK       1056   2.0   39.07
1              Chikka Tirupathi  4 Bedroom       2600   5.0  120.00
2                   Uttarahalli      3 BHK       1440   2.0   62.00
3            Lingadheeranahalli      3 BHK       1521   3.0   95.00
4                      Kothanur      2 BHK       1200   2.0   51.00
...                         ...        ...        ...   ...     ...
13315                Whitefield  5 Bedroom       3453   4.0  231.00
13316             Richards Town      4 BHK       3600   5.0  400.00
13317     Raja Rajeshwari Nagar      2 BHK       1141   2.0   60.00
13318           Padmanabhanagar      4 BHK       4689   4.0  488.00
13319              Doddathoguru      1 BHK        550   1.0   17.00

[13320 rows x 5 columns]

In [7]:
df.isna().sum()

location       1
size          16
total_sqft     0
bath          73
price          0
dtype: int64

# **Filling NA values**

In [8]:
# Fill bath value with the median
df.bath.median()

2.0

In [9]:
df.replace('', np.nan, inplace=True)

In [10]:
df['bath'].fillna(value=df.bath.median(),inplace=True)

In [11]:
df.isna().sum()

location       1
size          16
total_sqft     0
bath           0
price          0
dtype: int64

In [12]:
df=df.dropna()

In [13]:
# cleaning the size column
df['bhk']=df['size'].apply(lambda x: int(x.split(' ')[0]))

C:\Users\Siva sai\AppData\Local\Temp\ipykernel_6888\864659514.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['bhk']=df['size'].apply(lambda x: int(x.split(' ')[0]))

In [14]:
df.head()

                   location       size total_sqft  bath   price  bhk
0  Electronic City Phase II      2 BHK       1056   2.0   39.07    2
1          Chikka Tirupathi  4 Bedroom       2600   5.0  120.00    4
2               Uttarahalli      3 BHK       1440   2.0   62.00    3
3        Lingadheeranahalli      3 BHK       1521   3.0   95.00    3
4                  Kothanur      2 BHK       1200   2.0   51.00    2

In [15]:
df=df.drop(['size'],axis=1)

In [16]:
df.head()

                   location total_sqft  bath   price  bhk
0  Electronic City Phase II       1056   2.0   39.07    2
1          Chikka Tirupathi       2600   5.0  120.00    4
2               Uttarahalli       1440   2.0   62.00    3
3        Lingadheeranahalli       1521   3.0   95.00    3
4                  Kothanur       1200   2.0   51.00    2

In [17]:
df.total_sqft.unique()

array(['1056', '2600', '1440', ..., '1133 - 1384', '774', '4689'],
      dtype=object)

In [18]:
def is_float(x):
  try:
    float(x)
  except:
    return False
  return True

In [19]:
df[~df['total_sqft'].apply(is_float)].total_sqft.unique()

array(['2100 - 2850', '3010 - 3410', '2957 - 3450', '3067 - 8156',
       '1042 - 1105', '1145 - 1340', '1015 - 1540', '1520 - 1740',
       '34.46Sq. Meter', '1195 - 1440', '4125Perch', '1120 - 1145',
       '4400 - 6640', '3090 - 5002', '4400 - 6800', '1160 - 1195',
       '1000Sq. Meter', '4000 - 5249', '1115 - 1130', '1100Sq. Yards',
       '520 - 645', '1000 - 1285', '3606 - 5091', '650 - 665',
       '633 - 666', '5.31Acres', '30Acres', '1445 - 1455', '884 - 1116',
       '850 - 1093', '1440 - 1884', '716Sq. Meter', '547.34 - 827.31',
       '580 - 650', '3425 - 3435', '1804 - 2273', '3630 - 3800',
       '660 - 670', '1500Sq. Meter', '620 - 933', '142.61Sq. Meter',
       '2695 - 2940', '1574Sq. Yards', '3450 - 3472', '1250 - 1305',
       '670 - 980', '1005.03 - 1252.49', '1004 - 1204', '361.33Sq. Yards',
       '645 - 936', '2710 - 3360', '2249.81 - 4112.19', '3436 - 3643',
       '2830 - 2882', '596 - 804', '1255 - 1863', '1300 - 1405',
       '117Sq. Yards', '934 - 1437', '980 - 1030', '1564 - 1850',
       '1446 - 1506', '1070 - 1315', '3040Sq. Meter', '500Sq. Yards',
       '2806 - 3019', '613 - 648', '1430 - 1630', '704 - 730',
       '1482 - 1846', '2805 - 3565', '3293 - 5314', '1210 - 1477',
       '3369 - 3464', '1125 - 1500', '167Sq. Meter', '1076 - 1199',
       '381 - 535', '2215 - 2475', '524 - 894', '540 - 670',
       '315Sq. Yards', '1650 - 2538', '2725 - 3250', '1974 - 2171',
       '888 - 1290', '1360 - 1890', '2466 - 2856', '660 - 700',
       '385 - 440', '770 - 841', '3Cents', '1310 - 1615', '1782 - 2000',
       '188.89Sq. Yards', '1469 - 1766', '204Sq. Meter', '1255 - 1350',
       '870 - 1080', '45Sq. Yards', '133.3Sq. Yards', '2580 - 2591',
       '2563 - 2733', '605 - 624', '4260 - 4408', '1349 - 3324',
       '78.03Sq. Meter', '3300 - 3335', '1180 - 1630', '1365 - 1700',
       '3500 - 3600', '122Sq. Yards', '84.53Sq. Meter', '2.09Acres',
       '1482 - 1684', '981 - 1249', '1100 - 1225', '1565 - 1595',
       '24Guntha', '1270 - 1275', '840 - 1010', '697Sq. Meter',
       '655 - 742', '1408 - 1455', '4050 - 4075', '942 - 1117',
       '1750 - 2640', '1390 - 1600', '598 - 958', '1500Cents',
       '132Sq. Yards', '1010 - 1300', '2Acres', '3103 - 3890',
       '1450 - 1950', '1100Sq. Meter', '15Acres', '1450 - 1595',
       '763 - 805', '3307 - 3464', '1.26Acres', '620 - 934',
       '2462 - 2467', '540 - 740', '1618 - 1929', '3508 - 4201',
       '4900 - 4940', '1610 - 1880', '755 - 770', '664 - 722',
       '151.11Sq. Yards', '700 - 900', '596 - 861', '1925 - 2680',
       '615 - 985', '540 - 565', '750 - 800', '1660 - 1805',
       '1410 - 1710', '1079 - 1183', '2800 - 2870', '1230 - 1290',
       '943 - 1220', '2041 - 2090', '527 - 639', '1Grounds',
       '1160 - 1315', '706 - 716', '2940Sq. Yards', '1791 - 4000',
       '45.06Sq. Meter', '799 - 803', '2470 - 2790', '783 - 943',
       '4500 - 5540', '1255 - 1375', '610 - 615', '854 - 960',
       '2650 - 2990', '1.25Acres', '86.72Sq. Meter', '1230 - 1490',
       '660 - 780', '1150 - 1194', '684 - 810', '1510 - 1670',
       '1550 - 1590', '1235 - 1410', '3484 - 3550', '38Guntha',
       '929 - 1078', '2150 - 2225', '1520 - 1759', '629 - 1026',
       '1215 - 1495', '6Acres', '1140 - 1250', '2400 - 2600',
       '1052 - 1322', '5666 - 5669', '712 - 938', '1783 - 1878',
       '120Sq. Yards', '24Sq. Meter', '2528 - 3188', '650 - 760',
       '1400 - 1421', '4000 - 4450', '142.84Sq. Meter', '300Sq. Yards',
       '2204 - 2362', '1437 - 1629', '850 - 1060', '1200 - 1470',
       '1020 - 1130', '1133 - 1384'], dtype=object)

In [20]:
def convert_sqft_to_num(x):
  tokens=x.split('-')
  if len(tokens)==2:
    return (float(tokens[0])+float(tokens[1]))/2
  try:
    return float(x)
  except:
    return None

In [21]:
df.total_sqft=df.total_sqft.apply(convert_sqft_to_num)

In [22]:
df[~df['total_sqft'].apply(is_float)].total_sqft.unique()

array([], dtype=float64)

In [23]:
df.dropna(inplace=True)

In [24]:
df.isna().sum()

location      0
total_sqft    0
bath          0
price         0
bhk           0
dtype: int64

# **Feature Engineering**

In [25]:
df['price_per_sqft']=df['price']*100000/df['total_sqft']
df.head()

                   location  total_sqft  bath   price  bhk  price_per_sqft
0  Electronic City Phase II      1056.0   2.0   39.07    2     3699.810606
1          Chikka Tirupathi      2600.0   5.0  120.00    4     4615.384615
2               Uttarahalli      1440.0   2.0   62.00    3     4305.555556
3        Lingadheeranahalli      1521.0   3.0   95.00    3     6245.890861
4                  Kothanur      1200.0   2.0   51.00    2     4250.000000

In [26]:
df.location.unique()

array(['Electronic City Phase II', 'Chikka Tirupathi', 'Uttarahalli', ...,
       '12th cross srinivas nagar banshankari 3rd stage',
       'Havanur extension', 'Abshot Layout'], dtype=object)

In [27]:
df.location=df.location.apply(lambda x :x.strip())

In [28]:
stats=df.groupby('location')['location'].agg('count').sort_values(ascending=False)
print(stats)

location
Whitefield               538
Sarjapur  Road           397
Electronic City          304
Kanakpura Road           271
Thanisandra              236
                        ...
1 Giri Nagar               1
Kanakapura Road,           1
Kanakapura main  Road      1
Kannur                     1
whitefiled                 1
Name: location, Length: 1287, dtype: int64

In [29]:
stats_less_than_10=stats[stats<10]

In [30]:
len(df.location.unique())

1287

In [31]:
df.location=df.location.apply(lambda x: 'other' if x in stats_less_than_10 else x)

In [32]:
len(df.location.unique())

255

# **Outlier Removal**

In [33]:
df[df.total_sqft/df.bhk<300].head()

               location  total_sqft  bath  price  bhk  price_per_sqft
9                 other      1020.0   6.0  370.0    6    36274.509804
45           HSR Layout       600.0   9.0  200.0    8    33333.333333
58        Murugeshpalya      1407.0   4.0  150.0    6    10660.980810
68  Devarachikkanahalli      1350.0   7.0   85.0    8     6296.296296
70                other       500.0   3.0  100.0    3    20000.000000

In [34]:
df=df[~(df.total_sqft/df.bhk<300)]
df

                       location  total_sqft  bath   price  bhk  price_per_sqft
0      Electronic City Phase II      1056.0   2.0   39.07    2     3699.810606
1              Chikka Tirupathi      2600.0   5.0  120.00    4     4615.384615
2                   Uttarahalli      1440.0   2.0   62.00    3     4305.555556
3            Lingadheeranahalli      1521.0   3.0   95.00    3     6245.890861
4                      Kothanur      1200.0   2.0   51.00    2     4250.000000
...                         ...         ...   ...     ...  ...             ...
13315                Whitefield      3453.0   4.0  231.00    5     6689.834926
13316                     other      3600.0   5.0  400.00    4    11111.111111
13317     Raja Rajeshwari Nagar      1141.0   2.0   60.00    2     5258.545136
13318           Padmanabhanagar      4689.0   4.0  488.00    4    10407.336319
13319              Doddathoguru       550.0   1.0   17.00    1     3090.909091

[12513 rows x 6 columns]

Removing Outliers of each location seperately

In [35]:
# removing using sd and mean
def remove_pps_outliers(df):
    df_final=pd.DataFrame()
    for key,df_each_location in df.groupby('location'):
      mean=df_each_location.price_per_sqft.mean()
      sd=df_each_location.price_per_sqft.std()
      df_sub=df_each_location[(df_each_location.price_per_sqft>=(mean-sd))&(df_each_location.price_per_sqft<=(mean+sd))]
      df_final=pd.concat([df_final,df_sub],ignore_index=True)
    return df_final

df=remove_pps_outliers(df)
df.head()

              location  total_sqft  bath  price  bhk  price_per_sqft
0  1st Block Jayanagar      2850.0   4.0  428.0    4    15017.543860
1  1st Block Jayanagar      1630.0   3.0  194.0    3    11901.840491
2  1st Block Jayanagar      1875.0   2.0  235.0    3    12533.333333
3  1st Block Jayanagar      1200.0   2.0  130.0    3    10833.333333
4  1st Block Jayanagar      1235.0   2.0  148.0    2    11983.805668

In [38]:
for key, subdf in df.groupby('bhk'):
  print(key)

1
2
3
4
5
6
7
8
9
10
11
13
16

## removing bhk ouliers  i.e removing when price of 2bhk>3bhk

In [41]:
def remove_bhk_outliers(df):
    excluding_indexes=np.array([])
    for location,location_df in df.groupby('location'):
        bhk_stats={}
        for bhk, bhk_df in location_df.groupby('bhk'):
            bhk_stats[bhk] = {
                'mean': np.mean(bhk_df.price_per_sqft),
                'std': np.std(bhk_df.price_per_sqft),
                'count': bhk_df.shape[0]
            }
        for bhk, bhk_df in location_df.groupby('bhk'):
            stats=bhk_stats.get(bhk-1)
            if stats and stats['count']>5:
                excluding_indexes=np.append(excluding_indexes,bhk_df[bhk_df.price_per_sqft<(stats['mean'])].index.values)
    return df.drop(excluding_indexes,axis='index')
df=remove_bhk_outliers(df)
df.shape

(7452, 6)

## removing outliers by bathrooms

In [43]:
df=df[df.bath<df.bhk+2]

In [44]:
df.shape

(7374, 6)

In [45]:
df.head()

              location  total_sqft  bath  price  bhk  price_per_sqft
0  1st Block Jayanagar      2850.0   4.0  428.0    4    15017.543860
1  1st Block Jayanagar      1630.0   3.0  194.0    3    11901.840491
2  1st Block Jayanagar      1875.0   2.0  235.0    3    12533.333333
3  1st Block Jayanagar      1200.0   2.0  130.0    3    10833.333333
4  1st Block Jayanagar      1235.0   2.0  148.0    2    11983.805668

In [47]:
df=df.drop(['price_per_sqft'],axis=1)

KeyError: "['price_per_sqft'] not found in axis"

In [48]:
df.shape

(7374, 5)

In [52]:
dummies=pd.get_dummies(df.location)
dummies

,1st Block Jayanagar,1st Block Koramangala,1st Phase JP Nagar,2nd Phase Judicial Layout,2nd Stage Nagarbhavi,5th Block Hbr Layout,5th Phase JP Nagar,6th Phase JP Nagar,7th Phase JP Nagar,8th Phase JP Nagar,...,Vishveshwarya Layout,Vishwapriya Layout,Vittasandra,Whitefield,Yelachenahalli,Yelahanka,Yelahanka New Town,Yelenahalli,Yeshwanthpur,other
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10312,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
10313,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
10316,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
10317,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
10320,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [53]:
df=pd.concat([df,dummies.drop('other',axis=1)],axis=1)
df.head()

,location,total_sqft,bath,price,bhk,1st Block Jayanagar,1st Block Koramangala,1st Phase JP Nagar,2nd Phase Judicial Layout,2nd Stage Nagarbhavi,...,Vijayanagar,Vishveshwarya Layout,Vishwapriya Layout,Vittasandra,Whitefield,Yelachenahalli,Yelahanka,Yelahanka New Town,Yelenahalli,Yeshwanthpur
0,1st Block Jayanagar,2850.0,4.0,428.0,4,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1st Block Jayanagar,1630.0,3.0,194.0,3,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1st Block Jayanagar,1875.0,2.0,235.0,3,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1st Block Jayanagar,1200.0,2.0,130.0,3,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1st Block Jayanagar,1235.0,2.0,148.0,2,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [54]:
df=df.drop('location',axis=1)
df.head()

,total_sqft,bath,price,bhk,1st Block Jayanagar,1st Block Koramangala,1st Phase JP Nagar,2nd Phase Judicial Layout,2nd Stage Nagarbhavi,5th Block Hbr Layout,...,Vijayanagar,Vishveshwarya Layout,Vishwapriya Layout,Vittasandra,Whitefield,Yelachenahalli,Yelahanka,Yelahanka New Town,Yelenahalli,Yeshwanthpur
0,2850.0,4.0,428.0,4,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1630.0,3.0,194.0,3,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1875.0,2.0,235.0,3,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1200.0,2.0,130.0,3,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1235.0,2.0,148.0,2,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [56]:
X=df.drop('price',axis=1)
y=df['price']

In [57]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=10)

In [59]:
from sklearn.linear_model import LinearRegression
lr=LinearRegression()
lr.fit(X_train,y_train)
lr.score(X_test,y_test)

0.8058402447401352

In [60]:
from sklearn.model_selection import ShuffleSplit
from sklearn.model_selection import cross_val_score

cv=ShuffleSplit(n_splits=5,test_size=0.2,random_state=10)
cross_val_score(LinearRegression(),X,y,cv=cv)

array([0.80584024, 0.85297623, 0.8528207 , 0.7962664 , 0.80723711])

## Using GridSearchCV to find best parameterss and model

In [70]:
from sklearn.model_selection import GridSearchCV

from sklearn.linear_model import Lasso
from sklearn.tree import DecisionTreeRegressor

def find_best_model_using_gridsearchcv(X,y):
    algos={
        'linear_regression':{
            'model':LinearRegression(),
            'params':{
#                 'normalize':[True,False]
            }
        },
        'lasso':{
            'model':Lasso(),
            'params':{
                'alpha':[1,2],
                'selection':['random','cyclic']
            }
        },
        'decision_tree':{
            'model':DecisionTreeRegressor(),
            'params':{
                'criterion':['mse','friedman_mse'],
                'splitter':['best','random']
            }
        }
    }
    
    scores=[]
    cv=ShuffleSplit(n_splits=5,test_size=0.2,random_state=10)
    for algo_name,config in algos.items():
        gs=GridSearchCV(config['model'],config['params'],cv=cv,return_train_score=False)
        gs.fit(X,y)
        scores.append({
            'model':algo_name,
            'best_score':gs.best_score_,
            'best_params':gs.best_params_
        })
    return pd.DataFrame(scores,columns=['model','best_score','best_params'])
find_best_model_using_gridsearchcv(X,y)

C:\Users\Siva sai\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:378: FitFailedWarning:
10 fits failed out of a total of 20.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
10 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\Siva sai\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py", line 686, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\Siva sai\anaconda3\lib\site-packages\sklearn\tree\_classes.py", line 1247, in fit
    super().fit(
  File "C:\Users\Siva sai\anaconda3\lib\site-packages\sklearn\tree\_classes.py", line 177, in fit
    self._validate_params()
  File "C:\Users\Siva sai\anaconda3\lib\site-packages\sklearn\base.py", line 581, in _validate_params
    validate_parameter_constraints(
  File "C:\Users\Siva sai\anaconda3\lib\site-packages\sklearn\utils\_param_validation.py", line 97, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'criterion' parameter of DecisionTreeRegressor must be a str among {'poisson', 'squared_error', 'absolute_error', 'friedman_mse'}. Got 'mse' instead.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
C:\Users\Siva sai\anaconda3\lib\site-packages\sklearn\model_selection\_search.py:952: UserWarning: One or more of the test scores are non-finite: [       nan        nan 0.67395727 0.65087106]
  warnings.warn(

,model,best_score,best_params
0,linear_regression,0.823028,{}
1,lasso,0.694764,"{'alpha': 1, 'selection': 'random'}"
2,decision_tree,0.673957,"{'criterion': 'friedman_mse', 'splitter': 'best'}"

In [73]:
def predict_price(location,sqft,bath,bhk):    
    loc_index = np.where(X.columns==location)[0][0]

    x = np.zeros(len(X.columns))
    x[0] = sqft
    x[1] = bath
    x[2] = bhk
    if loc_index >= 0:
        x[loc_index] = 1

    return lr.predict([x])[0]

In [74]:
predict_price('1st Phase JP Nagar',1000, 2, 2)

C:\Users\Siva sai\anaconda3\lib\site-packages\sklearn\base.py:420: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

83.7486215391724

## Model To a pickle  File

In [75]:
import pickle
with open('banglore_home_prices_model.pickle','wb') as f:
    pickle.dump(lr,f)

## columns INfo

In [76]:
import json
columns = {
    'data_columns' : [col.lower() for col in X.columns]
}
with open("columns.json","w") as f:
    f.write(json.dumps(columns))

In [77]:
pwd

'C:\\Users\\Siva sai\\DS Projects'